@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Bellord Plants</h1>
    <p class="lead">The Lady Gardner. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna turpis, sodales in fringilla vitae, tempus a dui. Nulla vulputate vel ante vel scelerisque. Proin vestibulum, nisl a tempor accumsan, 
    mauris magna malesuada sem, sed luctus diam arcu nec urna. Fusce pellentesque dui nec ultricies molestie.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Ask Questions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna turpis, sodales in fringilla vitae, tempus a dui. 
        Nulla vulputate vel ante vel scelerisque. Proin vestibulum, nisl a tempor accumsan,
        mauris magna malesuada sem, sed luctus diam arcu nec urna. Fusce pellentesque dui nec ultricies molestie.</p>
        <p>@Html.ActionLink("Question", "", "Question")</p>
    </div>
    <div class="span4">
        <h2>What's going on?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna turpis, sodales in fringilla vitae, tempus a dui. 
        Nulla vulputate vel ante vel scelerisque. Proin vestibulum, nisl a tempor accumsan,
        mauris magna malesuada sem, sed luctus diam arcu nec urna. Fusce pellentesque dui nec ultricies molestie.</p>
        <p>@Html.ActionLink("Tasks", "", "TaskList")</p>
    </div>
    <div class="span4">
        <h2>Book a Session</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna turpis, sodales in fringilla vitae, tempus a dui. 
        Nulla vulputate vel ante vel scelerisque. Proin vestibulum, nisl a tempor accumsan,
        mauris magna malesuada sem, sed luctus diam arcu nec urna. Fusce pellentesque dui nec ultricies molestie.</p>
        <p>@Html.ActionLink("Book", "About", "Home")</p>
    </div>
</div>