@model IEnumerable<BellordPlants.mvc.Models.Answer>


<div id="answers">    
    

        @foreach (var item in Model)
        {   
            <div class="alert alert-info">@Html.DisplayFor(modelItem => item.Response)</div>
        }


</div>

@Html.Action("_AnswerForm", new { QuestionId = ViewBag.QuestionId})
